# Airflow
logs/
__pycache__/
*.pyc
.airflow/

# Data files


# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Virtual environment
venv/

# Keys and config
.env

run
jars/
spark/
dags/__pycache__/
dags/scripts/*